{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello " ~ lastname %}

{% block content %}
   <h1>Hello {{ firstname }} {{ lastname }}!</h1>
{% endblock %}

{% set code = code(_self) %}
